* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

/* #pixel-board {
  max-width: 200px;
} */

.color {
  cursor: pointer;
}

.selected {
  box-shadow: 10px 5px 5px rgba(49, 49, 49, 0.4);
}
