* {
  padding: 0;
  margin: 0;
}

.pixel {
  width: 25px;
  height: 25px;
  background-color: white;
  display: inline-block;
}

#pixel-board {
  max-width: 210px;
}

.color {
  cursor: pointer;
}

.selected {
  box-shadow: 10px 5px 5px rgba(49, 49, 49, 0.4);
}
